<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66170276383-lkvn9j9pemtdaqr0225m9ffv2c126lac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66170276383-lkvn9j9pemtdaqr0225m9ffv2c126lac</string>
	<key>API_KEY</key>
	<string>AIzaSyDi4QNVlVDleJJRt5T_6Ta-k9Sk-AKkT7w</string>
	<key>GCM_SENDER_ID</key>
	<string>66170276383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportifyv5</string>
	<key>PROJECT_ID</key>
	<string>sport-3f2f4</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-3f2f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66170276383:ios:f7cb17333fc8c898a3632a</string>
</dict>
</plist>